/PracticaII/nbproject/private/
/PracticaII/build/
/PracticaII/dist/

/PracticaIV/CreacionWS/CreacionWS/build/
/PracticaIV/CreacionWS/Triggers/nbproject/private/
/PracticaIV/CreacionWS/Triggers/build/
/PracticaV/Triggers/build/
/PracticaV/Triggers/nbproject/private/